body {
  font-family: 'Amatic SC', cursive;
}

.pokemon-list {
  list-style-type: none;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  opacity: .8;
}

.name-button {
  font-family: inherit;
  font-size: large;
  padding: 10px;
  text-align: center;
  background-color: #415d43;
  color: #f0e7d7;
  text-decoration: none;
  margin: 5px;
  border-radius: 3px;
  transition-duration: 0.2s;
  transition-property: opacity;
}

#modal-container.is-visible {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(65, 93, 67, 0.5);
  z-index: 999; 
  overflow: auto; 
  display: grid;
  text-align: center;
}

.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  padding: 15px;
  width: 100%;
  max-width: 500px;
  text-align: left;
}

.modal-close {
  font-family: inherit;
  float: right;
  border: 0;
  background: none;
  color:#415d43;
  text-decoration: underline;
}

.modal h1 {
  margin-top: 0;
}

.modal p {
  margin-bottom: 0;
}