/* 
Colours to use
primary-colour: #d3d3d3 light grey
secondary-colour: #5b5b5b dark grey
highlight colour #433fbc dark purple
transition colour #908cff lighter purple
*/

:root{
  --primary-color: #d3d3d3;
  --secondary-color: #5b5b5b;
  --white: #ffffff;
  --highlight-color: #433fbc;
  --transition-color: #908cff;
}

body {
  font-family: 'Work Sans', sans-serif;
  background-color: var(--primary-color);
  font-weight: 400; 
  font-size: 18px; 
  line-height: 1.4; 
  margin-top: 80px;
}

h1 {
  font-weight: 700;
  font-size: 30px;
}

.pokedex {
  text-align: center;
  margin-top: 90px; 
  display: flex;
  flex-direction: column;
}

.pokemon-header {
  padding: 10px;
  font-weight: 700;
}

.pokemon-button {
  width: 40%;
  background-color: var(--highlight-color);
  /* removes bootstrap button border color */
  border: none;
}

/* removes row border lines in background */
.list-group-item {
  border: none;
  background-color: var(--primary-color);
}

.pokemon-button:hover {
  background-color: var(--transition-color);
  transition-duration: 0s;
}

.btn-outline-info {
  color: var(--white);
  border-color: var(--white);
}

.btn-outline-info:hover {
  background-color: var(--transition-color);
  transition-duration: 0s;
  border-color: var(--transition-color);
}

.input-group-btn {
  background-color: none;
}

.modal {
  text-align: center;
}

.pokemon-img {
  width: 200px;
  height: 200px;
}

.modal-dialog {
  border: 8px solid;
  border-radius: 12px;
  border-color: var(--highlight-color);
  
}
